<div style="font-size: 16px;">
    <p style="font-size: 16px;">Hello,</p>
    <p style="font-size: 16px;">Copy the verification code for your {{ purpose }}: <span style="font-size: 32px; font-weight: bolder">{{ code }}</span></p>
    <p style="font-size: 16px;">Follow the link below to verify your email address.</p>
    <a href="{{{ link }}}" style="display: flex; border: unset; margin-bottom: 8px;">
        <button style="padding: 16px; min-width: fit-content; height: fit-content; background-color: rgb(53, 36, 120); border-width: 0; border-color: transparent; border-radius: 16px; font-size: 16px; color: white;  font-weight: bold; cursor: pointer;">Verify your email</button>
    </a>
    {{> footer.mustache }}
</div>