<p style="font-size: 16px;">If you did not perform this action or have any concern, kindly reach out to us at <a href="mailto:support@evryword.com.ng">support@evryword.com.ng</a>.</p>
<p style="font-size: 16px;">Regards,</p>
<p style="font-size: 16px;">Paralex</p>
<p style="font-size: 16px;">{{ dateOfAction }}</p>
